<div class="max-w-[1440px] mx-auto min-h-[88px] pt-[10px]">
  <ui-proximity-glow-cards>
    <ui-weather></ui-weather>
  </ui-proximity-glow-cards>
</div>

<!-- <div class="min-h-[300px] grid place-items-center bg-proxcard-container text-white">
  <div class="flex flex-wrap flex-row gap-[10px] mx-auto justify-center place-items-center relative p-[32px] touch-none">
    <ui-proximity-glow-cards></ui-proximity-glow-cards>
  </div>
</div> -->

<ui-launch-countdown-timer></ui-launch-countdown-timer>
