<div
    class="fixed top-[15px] right-[15px] text-white bg-black z-20 rounded-[12px]"
>
    <button (click)="toggleMenu()">
        <fa-icon
            class="flex w-[40px] h-[40px] text-[20px] justify-center items-center"
            [icon]="($menuCollapsed | async) ? faClose : faBars"
            [size]="'lg'"
        ></fa-icon>
    </button>
</div>
<div
    class="fixed top-0 right-0 h-[100vh] bg-red-dark overflow-hidden transition-all"
    [ngClass]="{
        'w-[300px]': $menuCollapsed | async,
        'w-0': ($menuCollapsed | async) === false
    }"
></div>
<div class="bg-proxcard-container text-white">
    <router-outlet></router-outlet>
</div>
